{% import "widgets/form/partials/_forms.twig" as forms %}

<div class="mb-3">

    {{ forms.label(name, options.label) }}

    <div class="input-group">
        {% if options.icon %}
            <span class="input-group-text"><i class="bi bi-lock"></i></span>
        {% endif %}
        
        {{ forms.input(name, 'password', options, error) }}

        {% if error %}
            <div class="invalid-feedback">{{ error }}</div>
        {% endif %}
    </div>
</div>