parameters:
    level: 5

    paths:
        - framework
        - src

    excludePaths:
        - vendor

    ignoreErrors:
        -
            message: '#Property .*::\$id is never written, only read\.#'
            path: src/Entity/