<div class="modal fade" tabindex="-1" id="remove_modal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content shadow-lg">
        <div class="modal-body">
            <p>Confirmez la suppression ?</p>
            <form id="form_remove" method="POST" class="">
                <input type="hidden" name="_method" value="DELETE">

                {{ csrf_token() }}

                <button type="submit" class="btn btn-sm btn-danger">OUI</button>
                <button type="button" class="btn btn-sm btn-info" data-bs-dismiss="modal">NON</button>
            </form>
        </div>
    </div>
  </div>
</div>