.btn-link {
  transition: all 0.3s;
  font-size: 0.8rem;
  font-weight: 600;

  &:hover {
    box-shadow: 0 4px 16px rgba($link, 0.35);
  }

  @include button-variant(
    $background: $link,
    $border: $link,
    $color: $primary,

    $hover-background: tint-color($link, 15%),
    $hover-border: tint-color($link, 15%),

    $active-background: #0a58ca,
    $active-border: #0a58ca,
  );
}

.btn-ghost {
  transition: all 0.3s;
  font-size: 0.8rem;
  font-weight: 600;

  @include button-variant(
    $background: transparent,
    $border: $border-color,
    $color: $text-muted,

    $hover-background: $elevated,

    $active-background: transparent,
  );
}

@each $state in map-keys($theme-colors) {
  .alert-#{$state} {
    --#{$prefix}alert-color: var(--#{$prefix}#{$state});
    --#{$prefix}alert-bg: rgba(var(--#{$prefix}#{$state}-rgb), 0.1);
    --#{$prefix}alert-border-color: rgba(var(--#{$prefix}#{$state}-rgb), 0.1);
    --#{$prefix}alert-link-color: var(--#{$prefix}#{$state}-text-emphasis);
  }
}