{% extends 'admin/base.twig' %}

{% block content %}
    <div class="d-flex justify-content-between align-items-center mb-4">
        <div>
            <p class="text-link mb-1 text-small text-uppercase">// Bonjour Admin</p>
            <h2 class="h4 fw-bold mb-0">Que se passe-t-il aujourd'hui ?</h2>
        </div>
    </div>
{% endblock %}