{% extends 'base.twig' %}

{% block content %}
    <section class="container">
        <h1 class="text-primary">Connexion</h1>
        <form method="POST">
            <div class="mb-3">
                <label class="form-label" for="username">Pseudo</label>
                <input class="form-control" type="text" id="username" name="username" required/>
            </div>

            <div class="mb-3">
                <label class="form-label" for="password">Mot de passe</label>
                <input class="form-control" type="password" id="password" name="password"/>
            </div>

            {{ csrf_token() }}

            <div>
                <button class="btn btn-primary" type="submit">Connexion</button>
            </div>
        </form>
    </section>
{% endblock %}